/10_anotherChart.ipynb
/11_histrogram.ipynb
/12_skill_pay_analysis.ipynb
/1_panda_accessing_data.ipynb
/2_data_cleaning.ipynb
/3_pivot_table.ipynb
/4_demand_in_India.ipynb
/5_Data_concat.ipynb
/6_Data_analysis.ipynb
/6_Months.csv
/7_applying_fun.ipynb
/8_Tranding_jobs.ipynb
/9_charts.ipynb
/Advance_learning